[submodule "Recipes"]
	path = Recipes
	url = https://github.com/Lasagne/Recipes.git
[submodule "arctic-captions"]
	path = arctic-captions
	url = https://github.com/zhuyifan1996/arctic-captions.git
[submodule "coco-text"]
	path = coco-text
	url = https://github.com/stevenygd/coco-text.git
[submodule "neuraltalk2"]
	path = neuraltalk2
	url = https://github.com/zhuyifan1996/neuraltalk2.git
[submodule "coco"]
	path = coco
	url = https://github.com/pdollar/coco.git
[submodule "treelstm"]
	path = treelstm
	url = https://github.com/stevenygd/treelstm.git
